h3 {
    text-align: center;
    font-size: 25px;
}

.boxShared {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
}
.social_shared_buttons {
    display: absolut;
	width: 30px;
}